/* Universal Styles */
div {
  border: 1px solid black;
}

h1,
h3 {
  color: white;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 3rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20%;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}
