/* Universal Styles */
html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  color: white;
}

h3 {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header */
header {
  background-color: black;
}

.logo {
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
}

.logo h3 {
  margin: 0.66rem 1rem;
}

/* Jumbotron */
.jumbotron {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.featured {
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  position: relative;
  top: 9rem;
  font-weight: bold;
  text-align: left;
  padding: 2rem 3rem;
  width: 20rem;
  line-height: 225%;
}

/* Navigation */
nav {
  background-color: Firebrick;
}

.nav {
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

#menu {
  display: none;
}

/* Store */
/* Products */
.products {
  justify-content: space-between;
  padding: 3rem 0;
}

.product {
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
}

.image {
  justify-content: center;
  padding: 2rem 0;
  background-color: white;
}

.pen,
.watch {
  height: 9rem;
  width: auto;
}

.glasses {
  width: auto;
  height: 5rem;
  padding: 2rem 0;
}

.product h3 {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}

/* Contact */
.contact {
  justify-content: space-between;
  padding-bottom: 4rem;
}

.info {
  width: 35%;
}

.info h3 {
  background-color: black;
  padding: 1rem 2rem;
}

.info span {
  color: black;
  line-height: 1.5rem;
}

/* Footer */
footer {
  background-color: black;
}

.footer {
  align-items: center;
  height: 11rem;
}

/* Screens Smaller than width: 1024px */
@media only screen and (max-width: 1024px) {
  #watch {
    display: none;
  }

  .product {
    width: 47%;
  }

  .nav {
    justify-content: center;
  }

  .nav span {
    display: none;
  }

  #menu {
    display: inline-block;
  }
}

/* Screens Smaller than width: 470px */
@media only screen and (max-width: 470px) {
  .jumbotron {
    height: 17rem;
  }

  .featured {
    padding: 1rem 2rem;
    top: 10rem;
  }

  .featured h3 {
    font-size: 0.77rem;
  }

  .featured h1 {
    font-size: 1rem;
  }

  #glasses {
    display: none;
  }

  .products {
    justify-content: center;
  }

  .product {
    width: 90%
  }

  .contact {
    flex-direction: column;
    align-items: center;
  }

  .info {
    width: 90%;
  }

  #hours {
    margin-top: 0.5rem;
  }

  .footer {
    justify-content: center;
  }
}
