/* Universal Styles */
html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.33em;
}

h1 {
  font-size: 2rem;
}

h1,
h3 {
  color: white;
  margin: 1.25rem 0;
}

img {
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header */
header {
  align-items: center;
  background-color: black;
  height: 3rem;
  width: 100%;
}

.logo {
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

/* Jumbotron */
.jumbotron {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  padding-bottom: 3em;
}

.featured {
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  margin-bottom: 3em;
}

.featured div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
  font-weight: bold;
  position: relative;
  width: 20rem;
  padding: 2rem 3rem;
}

.featured h1 {
  margin: 0.25rem 0;
  line-height: 1.2em;
}

/* Navigation */
nav {
  background-color: red;
}

nav div {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3em;
}

.nav span {
  display: inline-block;
  color: white;
}

/* Store */
/* Products */
.products {
  justify-content: space-between;
  margin: 3em auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 30%;
}

.description {
  margin: 0.75em auto;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 98%;
  height: 85%;
  margin: 3px;
}

.pen {
  width: 8em;
  margin: 3em auto;
}

.watch {
  width: 9em;
  margin: 2.5 auto;
}

.glasses {
  width: 11.5em;
  margin: 2.5 auto;
}

/* contact */
.contact {
  justify-content: space-between;
  margin: 0 auto 3em auto;
}

.info {
  background-color: black;
  width: 34.3%
}

.info h3 {
  padding-left: 1em;
}

.info span {
  display: block;
  background-color: white;
  height: 50%;
  padding: 1em 0;
}

/* Footer */
footer {
  background-color: black;
  height: 10em;
}

.footer {
  align-items: center;
  height: 100%;
}
